# Archivos de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.cache
*.vscode/
*.swp

# Archivos de compilación
bin/
obj/
[Bb]uild/
[Ll]ogs/
*.apk
*.aab
*.app/
*.ipa
*.o
*.iobj
*.pdb
*.rsp
*.ilk
*.idb
*.tlog
*.manifest
*.tlog
*.log
*.cache
*.csproj.user
*.csproj.vspscc
*.csproj.vssscc
*.dbmdl
*.jfm
*.ncb
*.sdf
*.opensdf
*.sln.docstates

# Paquetes y dependencias
packages/
node_modules/
.nuget/
*.nupkg
project.lock.json
project.assets.json

# Configuración de usuario y depuración
*.DotSettings
*.suo
*.userprefs
*.csproj.user
*.pidb
*.mode1v3
*.mode2v3
*.resharper
*.resharper.user

# Archivos de iOS
ios/.vs/
ios/Pods/
ios/Podfile.lock
ios/DerivedData/
ios/build/
ios/.DS_Store
*.xcworkspace/
*.xcuserstate
*.xcuserdatad
*.xcdebugger/
*.xcassets

# Archivos de Android
android/.vs/
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/app/src/main/assets/
android/obj/
android/bin/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/
android/gradle.properties
android/gradle-wrapper.properties
android/gradle/wrapper/
android/.cxx/
android/*.iml
android/.externalNativeBuild/

# Archivos de MacOS
*.DS_Store
*.AppleDouble
*.LSOverride